body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    z-index: -2;
    color: #b49082;
    background-color: #b49082;
}

#table_search{
  margin-left: auto;
  margin-right: auto;
  padding-top: 78px;
}

.search-bar {
  /*float: left;*/
  display: inline-block;
  margin-top: 800px;
  margin-left: -250px;
  z-index: 10;
  width: 500px;
    max-width: 80rem;
    display: grid;
    grid-template-columns: 2fr 5rem;
    align-items: center;
    background-color: rgba(231, 218, 222, 1);
    padding: 1rem 2rem;
    border-radius: 4rem;
    z-index: 10;
  
  }
  .searchbar{
    display: flex;
    background-color: transparent;
    z-index: 10;
    width: 265px;
    
  }

  .search-bar input {
    font-size: 3rem;
    padding: 0rem;
    outline: 0;
    border: 0;
    background-color: transparent;
    color: #8a8282;
    z-index: 10;
  }
 
  ::placeholder {
    text-align: center; 
    z-index: 10;
 }
  .search-btn {
    background-color: transparent;
    border: 0;
    padding: 0;
    height: 2rem;
    width: 3rem;
    display: grid;
    place-items: center;
  }
  
  
  @media screen and (max-width: 350px) {
    .search-btn {
      display: none;
    }
  }
#hmp_pic1{
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    border-bottom: 14px solid #926A6A;
    position: absolute;
}
.searchbar{
    background-color: transparent;
    position: fixed;
    z-index: -2;
    width: 265px;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100px;
}
.hmp_login{
    position: fixed;
    top: 20px;
    right: 95px;
    margin: 10px;
    z-index: 2;
    
}
.hmp_signup{
    position: fixed;
    top: 20px;
    right: 20px;
    margin: 10px;
    z-index: 2;
}
.hmp_logout{
    position: fixed;
    top: 20px;
    right: 20px;
    margin: 10px;
    z-index: 2;
}
.hmp_home{
  position: fixed;
    top: 20px;
    left: 20px;
    margin: 10px;
    z-index: 2;
}
.hmp_bestenliste{
  position: fixed;
    top: 20px;
    left: 115px;
    margin: 10px;
    z-index: 2;
}


a:link {
    color: #fff2f2c8;
    background-color: transparent;
    text-decoration: none;
  }
a:visited {
    color: #fff2f28d;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: #fff2f2e3;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: #fff2f2c8;
    background-color: transparent;
    text-decoration: underline;
}

#hmp_food_descrip{
    color: aliceblue;
    font-size: 96%;
}


#contentoverlay{
    background-color: blue;
}

#hmp_table_cburger{
  width: 300px;
  object-fit: scale-down;
    z-index: 3;
}
#hmp_table_frice{
  width: 300px;
    z-index: 3;
}

.hmp_foods{
  margin-left: auto;
  margin-right: auto;
  padding-top: 78px;

}
.hmp_foods_top{
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  width: 100%;
  height: 90%;
}

#backgroundtest{
  background-color: #000000;
}
.hmp_empty{
  z-index: 10;
  visibility: hidden;
  font-size: larger;
}

.text_in_table{
  font-size: x-large;
}
.like_button{
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.like_button:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

footer{
  text-align: center;
  margin-bottom: 15px;
  margin-top: 40px;
}

td{
  text-align: center;
}
