body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}



#hmp_pic1{
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

}
#homepage_header{
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    color: #FFF2F2;
}
.hmp_login{
    position: fixed;
    top: 20px;
    right: 95px;
    margin: 10px;
    z-index: 2;
    
}
.hmp_signup{
    position: fixed;
    top: 20px;
    right: 20px;
    margin: 10px;
    z-index: 2;
}
.hmp_logout{
    position: fixed;
    top: 20px;
    right: 20px;
    margin: 10px;
    z-index: 2;
}
a:link {
    color: #fff2f2c8;
    background-color: transparent;
    text-decoration: none;
  }
a:visited {
    color: #fff2f28d;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: #fff2f2e3;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: #fff2f2c8;
    background-color: transparent;
    text-decoration: underline;
}
.hmp_seperator{
    width: 100%;
    height: 15px;
    background-color: #926A6A;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}


