body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #fff2f2;
    background-color: #b49082;
    height: 100vh;
}

h1 {
    font-size: 50px;
    margin-left: 20px;
}

#header {
    padding-top: 1vh;
    padding-bottom: 0vh;
    background-color: #5b4041;
}

#headerLog {
    padding-top: 1vh;
    padding-bottom: 10px;
    background-color: #5b4041;
}

#centered {
    display: flex;
    justify-content: center;
}

#form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    flex-direction: column;
}

#loggin {
    position: absolute;
    top: 20px;
    right: 20px;
    margin: 10px;
    font-size: x-large;
}

#links {
    position: absolute;
    top: 100px;
    right: 20px;
    margin: 10px;
    font-size: x-large;
}

.bar {
    margin: 0;
    margin-top: 60px;
    padding: 0;
    height: 20px;
    background-color: #926a6a;
}

#barLog {
    margin: 0;
    padding: 0;
    height: 20px;
    background-color: #926a6a;
}

.labels {
    color: #fff2f2;
    display: block;
    margin-bottom: 5px;
}

input[type="text"], input[type="password"], input[type="email"]{
    width: 200px;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: #dab5aa;
    color: #000;
}

input[type="email"]{
    margin-left: 30px;
}

input[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #5b4041;
    color: #fff2f2;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #926a6a;
}

a:link {
    color: #fff2f2c8;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: #fff2f28d;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: #fff2f2e3;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: #fff2f2c8;
    background-color: transparent;
    text-decoration: underline;
}

h2{
    font-size: 35px;
    margin-left: 30px;
}

p{
    font-size: 20px;
    margin-left: 50px;
}